node_modules
.env
*.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
database.json
.DS_Store
.nyc_output/
coverage/
coverage-unit/
full-coverage/
.chipper
chipper-report-*
sls-deployments
.serverless/
serverless/**/package.zip
.vscode/settings.json
.just/